body{
	padding-bottom: 40px;
}
a:link {
	cursor: pointer;
	transition: 0.3s;
	color: #6E6E6E;
	text-decoration: none;
}
a:visited { text-decoration: none; color: #6E6E6E;} 
a:active { text-decoration: none; color: #6E6E6E;}
a:hover{
	transition: 0.3s;
	color: #2E2E2E;
	text-decoration: none;
}
header{
	background-color: #F4F4F4;
	height: 60px;
	padding-top: 15px;
    box-shadow: 0px 0px 20px 12px  #F4F4F4;
    z-index: 999;
    margin-bottom: 50px;

}
header ul li{
	transition: 0.3s;
	color: #6E6E6E;
	list-style: none;
	float: left;
	padding: 5px;
	cursor: pointer;

}
header ul li:hover{
	transition: 0.3s;
	color: #2E2E2E;
}
header .btn-group{
	float: right;
	margin-right: 68px;
	margin-top: -10px;
}
.btn-default{
	background: none;
}
.headInfo{
	height: 400px;
	padding-top: 50px;
}

.konverter-button{
	transition: 0.3s;
	margin-left: 10px;
	margin-bottom: 5px;
	display: inline-block;
	border: 1px solid #848383;
	border-radius: 5px;
	cursor: pointer;

}
.konverter-button:hover{
	transition: 0.3s;
	border: 1px solid #2E2E2E;
}

.today-text{
	font-size: 25px;
}
.BuySale-text{
	font-size: 25px;
}
.dateToday{
	width: 40%;
	height: 200px;
	float: left;
    font-size: 100px;
    text-align: center;
}



.head-kurs{
	width: 60%;
	height:200px;
	float: right;
	margin-top: 50px;
}
.glyphicon-arrow-up{
	color: green;
	font-size: 17px;
	text-shadow: 0px 0px 11px rgba(0, 128, 0, 0.5);
}
.glyphicon-arrow-down{
	color: red;
	font-size: 17px;
	text-shadow: 0px 0px 11px rgba(128, 0, 0, 0.5);
}
#modal_form {
	width: 70%; 
	height: 400px;
	border-radius: 20px;
	border: 2px #448AFF solid;
	background: #fff;
	position: fixed; 
	top: 40%; 
	left: 15%;
	margin-top: -200px;
	display: none; 
	opacity: 0;
	z-index: 5;
}

#modal_form #modal_close {
	color: white;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
    font-size: 20px;
    padding-top: 10px;
}

#overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0; 
	left:0;
	cursor:pointer;
	display:none;
}
.modal-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	font-size: 25px;
	color: white;
	height: 70px;
	background-color: #448AFF;
}
.modal-body{
	width: 100%;
	margin: auto;
	padding: 25px;
	font-size: 18px;
}
.modal-body .btn{
	border-radius: 20px;
}
.modal-buy-sale{
	width: 35%;
	float: left;
	margin-right: 30px;
}
.modal-getSum{
    line-height: 1.8;
	float: left;
	width: calc(20% + 60px);
}
.form-control{
	float: right;
    width: calc(100% - 60px);;
}
.modal-selectValute{
	float: right;
}
.table{
	margin-top: 50px;
}

.table tbody {
    height: 235px;;
    overflow: auto;
}
.table td {
    padding: 3px 15px;
}

.table thead > tr, .table tbody{
    display:block;}



table{
	width: 100%;
}
th,td{
	width: 33.33333%;
	text-align: center;
	font-size: 20px;
	height: 50px;
}
th:not(:last-child),td:not(:last-child){
	border-right: 1px solid #C1C0C0;
}
tr:not(:last-child){
	border-bottom: 1px solid #C1C0C0;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}